<div class="navbar navbar-inverse navbar-fixed-top">
    <ul class="nav nav-pills">
        <li><a class="navbar-brand" href="index.cshtml">nombre del sitio NOSE</a></li>
        <li><button type="button" class="btn btn-success" data-toggle="modal" data-target="#popupwindow">comenzar</button></li>
        <li><button type="button" class="btn btn-default navbar-btn">instructivos</button></li>
        <li><button type="button" class="btn btn-default navbar-btn">acerca de</button></li>
    </ul>
</div>
