@{
    ViewBag.Title = "Home Page";
}



<div class="jumbotron">
    <h1>asp.net</h1>
    <p class="lead"> asp.net jajajjajajja</p>
    <p><a href="http://asp.net" class="btn btn-promary btn-lg>Lean more &raquo; </a "</p>
        <h2>BUSCAR</h2>
        <p>
            sidebar
        </p>
        <ul>
            <li>lista</li>
            <li>de</li>
            <li>filtros</li> 
        </ul>
    </div>


    <div class="col-md-9">
        <h2>CONTENIDO DE LA PAGINA</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
    
    </div>
    
</div>