@{
    ViewBag.Title = "Home Page";
}



<div class="row">


    <div class="col-md-3">
        <h2>BUSCAR</h2>
        <p>
            sidebar
        </p>
        <ul>
            <li>lista</li>
            <li>de</li>
            <li>filtros</li> 
        </ul>
    </div>


    <div class="col-md-9">
        <h2>CONTENIDO DE LA PAGINA</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
    
    </div>
    
</div>